*{
    padding: 0;
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
}
.testbox{
    width: 100px;
    height: 100px;
    background-color: orange;
}
.developer{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}